{% extends 'base.html.twig' %}
{% block body %}
    <div class="url-statistics">
        {% if private %}
            <h2>This address is not public, so you can't follow his statistics!</h2>
        {% else %}
            <p class="notice">Copy link to your list and share it to your friends!</p>
            <p class="notice">Add current link to your bookmarks, because there you will be able to track statistics for your list!</p>
            <h2>Your list of URLs:  </h2>
            <a href="{{ app.request.uri }}">{{ app.request.uri }}</a>
            <button type="button" class="copyToClipboard">Copy link of the list</button>
            <br>
            <h2>Statistics</h2>
            {% for url in urls %}
                <a href="{{ app.request.getSchemeAndHttpHost() }}/{{ url.shortenedUrl }}" target="_blank"
                   title="{{ url.originalUrl }}">{{ app.request.getSchemeAndHttpHost() }}/{{ url.shortenedUrl }}</a>
                <button type="button" class="copyToClipboard">Copy link</button>
                <cite>{{ url.originalUrl }}</cite>
                <h3>Clicks:</h3>
                <p>00000</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}