{% extends 'base.html.twig' %}
{% block body %}
    <div class="form url-form">
        <h4>Short single URL</h4>
    {{ form_start(form) }}
        {{ form_errors(form) }}
    {{ form_row(form.originalUrl) }}
    <button type="submit">Shorten!</button>
    {{ form_end(form) }}
    </div>
    <div class="multiple-addresses">
        <h2>Short list of URLs into one short URL to share with other!</h2>
        <p class="sub-header">Enter one link per line!</p>
        <form action="{{ path('list_of_urls') }}" method="POST">
            <textarea name="multiple_addresses"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}