{% extends 'base.html.twig' %}
{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <p class="notice">If you want to make your URLs <b>private</b>, you have to register and log in to your account.</p>
    <div class="form url-form">
        <h2>Shorten one URL</h2>
    {{ form_start(form) }}
        {{ form_errors(form) }}
    {{ form_row(form.originalUrl) }}
    <button type="submit">SHORTEN</button>
    {{ form_end(form) }}
    </div>
    <div class="multiple-addresses">
        <h2>or create a list of URLs<br><span>and share the list with your friends!</span></h2>
        <p class="sub-header">Enter <u>one link per line</u>!</p>
        <form action="{{ path('list_of_urls') }}" method="POST">
            <textarea name="multiple_addresses"></textarea>
            <button type="submit">SHORTEN LIST</button>
        </form>
    </div>
{% endblock %}